.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 400px;
  height: 7px;
  background-color: #505050;
  border-radius: 7px;
  outline: none;
  @apply drop-shadow-lg;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 19px;
  width: 19px;
  background-color: white;
  border-radius: 100%;
  border: #505050 1px solid;
  cursor: pointer;
  @apply drop-shadow-lg;
}

.slider::-moz-range-thumb {
  height: 19px;
  width: 19px;
  background-color: white;
  border-radius: 100%;
  border: #505050 1px solid;
  cursor: pointer;
  @apply drop-shadow-lg;
}

.logo {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  animation-timing-function: ease-in-out;
}

.bounceInDown {
  animation: bounceInDown 0.5s;
}

@keyframes bounceInDown {
  0% {
    transform: translate(-50%, -2000px);
  }
  60% {
    transform: translate(-50%, -50%);
  }
  80% {
    transform: translate(-50%, -60%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

.zoomin {
  animation: zoomIn 0.5s forwards;
}

@keyframes zoomIn {
  0% {
  }
  100% {
    width: 45%;
  }
}

.moveTopLeft {
  animation: moveTopLeft 0.5s linear forwards;
}

@keyframes moveTopLeft {
  0% {
    width: 50%;
  }
  75% {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
  }
  100% {
    left: 0;
    top: 0;
    transform: translate(1rem, 1rem);
    width: 10%;
  }
}